<div class="row">
  <div class="col-xs-6 left">
    <h3>New entry</h3>
    <div>
      <p>
        <label>Name</label>
        <input name="name">
      </p>
      <p>
        <label>Contact type</label>
        <select name="type">
          <option value="handphone">Handphone</option>
          <option value="house">House phone</option>
          <option value="email">Email</option>
        </select>
      </p>
      <p>
        <label>Contact details</label>
        <input name="value">
      </p>
      <a class="btn btn-lg btn-success">Add!<span class="glyphicon glyphicon-ok"></span></a>
    </div>
  </div>
  <div class="col-xs-6">
    <h3>Phonebook entries</h3>
  </div>
</div>
